#menu{
    background-color: aliceblue;
    background-size:contain;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  em{
    color: darkblue;
    font-family: bolder; 
  }
  img{
    width:20%;
    height:20%;
  }
  h3{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding-top:2%;
    padding-bottom:2%;
  }
  .well{
    opacity: 0.8;
    border-radius: 35%;
  }
  
  .description1 ,.description2, .description3, .description4, .description5, .description6{
    display:none;
  }
  #location{
    display: none;
  }
  #order{
    background-image: url("https://bit.ly/36FzweI");
    background-size: cover;
  }
  
    